$container-padding: 2rem;

$header-background: #3366ff;
$header-text: #FFF;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #FFF;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #BADDFE;
$item-text: #FFF;
$item-text-strong: #FFF;
$item-padding: 0.75rem;
$item-edit-background: #ddd;
$item-edit-text: #FFF;
$item-edit-width: 2rem;

$menu-background: #00004d;
$menu-text: #FFF;
$menu-height: $header-height;

$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #999;
$form-input-radius: 0.3rem;
$form-input-padding: 0.5rem;
$form-input-fontsize: 1.2rem;
$form-label-fontsize: 0.8rem;
$form-label-margin-bottom: 0.5rem;